.wrapper{
    width:500px;
    margin:0 auto;
}
.todoFunctions{
    text-align:center;
    display:none;
}
.autoChecker{
    float:left;
}
.todoInput{
    width:460px;
}
h1{
    font-size:32px;
    text-align:center;
}
div{  
    padding:4px;
}
.todoItem {
    width: 500px;
    min-height:20px;
    border:1px solid black;
}
.todoItem:nth-child(2n){
    background:lightgrey;
}
p{
    float:left;
    padding:3px
}
.checkLeft{
    float:left;
}
.deleteItem{
    float:right;
}
.clear{
    float:right;
}
.itemNumber{
    float:left;
}